$wrapper-width: 1180px;

//  Colors
$color-accent-blue-1: #04358f;
$color-accent-blue-2: #0a4ecb;
$color-accent-blue-3: #4788ff;

$color-accent-orange: #f04716;
$color-accent-yellow: #ffc62f;

$color-gray-80: #1d1e22;
$color-gray-80-t40: #1d1e2240;
$color-gray-70: #36383f;
$color-gray-60: #525568;
$color-gray-50: #6e7284;
$color-gray-40: #a3a6b2;
$color-gray-30: #dedfe7;
$color-gray-20: #f2f3f4;

$color-white: #ffffff;

$color-valid: #4caf50;
$color-invalid: #f44336;

$color-scroller-runner: #0a4ecb;
$color-scroller: #c4c4c4;
