/* Montserrat: Regular */
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

/* Montserrat: Medium */
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
}

/* Montserrat: Bold */
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  background-color: $color-gray-30;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family:
    'Montserrat',
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li,
body,
p,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

a,
a:visited {
  text-decoration: unset;
  color: unset;
  background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}
